In [169]:
import numpy as np
!pip install scikit-learn
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

Requirement already satisfied: scikit-learn in c:\users\swarn\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\swarn\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\swarn\anaconda3\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\swarn\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\swarn\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [170]:
abc=pd.read_csv("C:/Users/swarn/OneDrive/Documents/IRISdatasetconvertedfromCSV.csv")
abc.head(10)

  sepal_length  sepal_width  petal_length  petal_width      species
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4            5          3.6           1.4          0.2  Iris-setosa
5          5.4          3.9           1.7          0.4  Iris-setosa
6          4.6          3.4           1.4          0.3  Iris-setosa
7            5          3.4           1.5          0.2  Iris-setosa
8          4.4          2.9           1.4          0.2  Iris-setosa
9          4.9          3.1           1.5          0.1  Iris-setosa

In [171]:
abc.describe()

       sepal_width  petal_length  petal_width
count   150.000000    150.000000   150.000000
mean      3.054000      3.758667     1.198667
std       0.433594      1.764420     0.763161
min       2.000000      1.000000     0.100000
25%       2.800000      1.600000     0.300000
50%       3.000000      4.350000     1.300000
75%       3.300000      5.100000     1.800000
max       4.400000      6.900000     2.500000

In [176]:
abc.isnull().sum()

sepal_length    0
sepal_width     1
petal_length    1
petal_width     1
species         1
dtype: int64

In [177]:
abc.fillna(method='bfill') #did this step to execute null values because svm does not work with null values
abc= abc.dropna()

In [178]:
abc.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [179]:
abc.head(4)

  sepal_length  sepal_width  petal_length  petal_width      species
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa

In [180]:
X=abc.drop(['species'], axis=1)
Y=abc['species']

#print(Y)
#data=abc.values
#X=data[:,0:4]
#Y=data[:,4]

In [181]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,Y, test_size=0.2)

In [182]:
from sklearn.svm import SVC 
abc = pd.get_dummies(abc, columns=['species'])
model=SVC()
model.fit(X_train, y_train)

SVC()

In [188]:
from sklearn.metrics import accuracy_score
Predictions=model.predict(X_test)
acc=accuracy_score(y_test, Predictions)*100
print("Prediction =",acc)

Prediction = 96.66666666666667